@page "/Session/{sessionId:int?}"
@using ConferenceDTO
@using FrontEnd.Data
@using FrontEnd.Services
@using Microsoft.AspNetCore.Identity

@inject IApiClient ApiClient
@inject NavigationManager NavigationManager
@inject UserManager<ApplicationUser> UserManager
@if (SelectedSession != null)
{

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Agenda</a></li>
        <li class="breadcrumb-item"><a href="/@DayOffset">Day @(DayOffset + 1)</a></li>
        <li class="breadcrumb-item active">@SelectedSession!.Title</li>
    </ol>

    <h1>@SelectedSession.Title</h1>
    <span class="label label-default">@SelectedSession.Track?.Name&nbsp;</span>

    @foreach (var speaker in SelectedSession.Speakers)
    {
        <em><a href="/Speaker/@speaker.Id">@speaker.Name</a>&nbsp;</em>
    }

    @foreach (var para in SelectedSession!.Abstract!.Split("\r\n", StringSplitOptions.RemoveEmptyEntries))
    {
        <p>@para</p>
    }

    <p>
        @if (IsAdmin)
        {
            <a href="/Admin/EditSession/@SelectedSession.Id" class="btn btn-default btn-sm">Edit</a>
        }

        @if (IsAttendee)
        {
            @if (IsInPersonalAgenda)
            {
                <button @onclick="RemoveSessionToUser" class="btn btn-default btn-sm" title="Remove from my personal agenda">
                    <i class="bi bi-star" aria-hidden="true"></i>
                </button>
            }
            else
            {
                <button @onclick="AddSessionToUser" class="btn btn-default btn-sm bg-transparent" title="Add to my personal agenda">
                    <i class="bi bi-star-outline" aria-hidden="true"></i>
                </button>
            }
        }
    </p>
}
@code {

    [Parameter] public int SessionId { get; set; }

    public SessionResponse? SelectedSession { get; set; }
    public int? DayOffset { get; set; }

    public bool IsAdmin { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    public bool IsInPersonalAgenda { get; set; }
    public bool IsAttendee { get; set; }

    public string UserName { get; set; }

    public List<SessionResponse> UserSessions { get; set; } = new List<SessionResponse>();

    protected override async Task OnInitializedAsync()
    {
        if (SessionId != null && SessionId != 0)
        {
            SelectedSession = await ApiClient.GetSessionAsync(SessionId);

            if (SelectedSession == null)
            {
                NavigationManager.NavigateTo("/");
            }
            else
            {
                var allSessions = await ApiClient.GetSessionsAsync();
                if (authenticationState is not null)
                {
                    var authState = await authenticationState;
                    var authStateUser = authState?.User;

                    if (authStateUser is not null)
                    {
                        if (authStateUser.Identity is not null && authStateUser.Identity.IsAuthenticated)
                        {
                            var user = await UserManager.FindByNameAsync(authStateUser.Identity.Name);
                            if (user is not null)
                            {
                                UserName = user.UserName;
                                if (user.IsAttendee)
                                {
                                    IsAttendee = true;

                                }
                                UserSessions = await ApiClient.GetSessionsByAttendeeAsync(UserName);

                                IsInPersonalAgenda = UserSessions.Any(s => s.Id == SelectedSession.Id);
                            }
                        }
                    }
                }

                var startDate = allSessions.Min(s => s.StartTime?.Date);
                DayOffset = SelectedSession.StartTime?.Subtract(startDate ?? DateTimeOffset.MinValue).Days;
            }
        }
        else
        {
            NavigationManager.NavigateTo("/");
        }
    }

    private async Task AddSessionToUser()
    {
        await ApiClient.AddSessionToAttendeeAsync(UserName, SessionId);
        UserSessions = await ApiClient.GetSessionsByAttendeeAsync(UserName);
        IsInPersonalAgenda = true;
    }

    private async Task RemoveSessionToUser()
    {
        await ApiClient.RemoveSessionFromAttendeeAsync(UserName, SessionId);
        UserSessions = await ApiClient.GetSessionsByAttendeeAsync(UserName);
        IsInPersonalAgenda = false;
    }
}