@page "/Search"
@rendermode @(new InteractiveServerRenderMode(false))

<div class="search">
    <h1>Search</h1>
    <div class="input-group mb-3">
        <input @bind="@Term" placeholder="Search for sessions or speakers..." class="form-control" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" @onclick="SearchSessions">Go!</button>
        </div>
    </div>
    @if (SearchResults?.Count > 0)
    {
        <p>
            @SearchResults.Count result(s)
        </p>
    }
</div>

<div class="row">
    @foreach (var result in SearchResults!)
    {
        <div class="col-md-12">
            @switch (result.Type)
            {
                case SearchResultType.Speaker:
                    <div class="card shadow mb-3">
                        <div class="card-header">
                            <h3 class="card-title">
                                Speaker:
                                <a href="/Speaker/@result.Speaker.Id">
                                    @result.Speaker!.Name
                                </a>
                            </h3>
                        </div>
                        <div class="card-body">
                            <p>
                                @foreach (var session in result.Speaker.Sessions)
                                {
                                    <a href="/Session/@session.Id">
                                        <em>@session.Title</em>
                                    </a>
                                }
                            </p>
                            <p>
                                @result.Speaker.Bio
                            </p>
                        </div>
                    </div>
                    break;

                case SearchResultType.Session:
                    <div class="card shadow mb-3">
                        <div class="card-header">
                            <h3 class="card-title">
                                Session:
                                <a href="/Session/@result.Session.Id">@result.Session!.Title</a>
                            </h3>
                            @foreach (var speaker in result.Session.Speakers)
                            {
                                <a href="/Speaker/@speaker.Id">
                                    <em>@speaker.Name</em>
                                </a>
                            }
                        </div>
                        <div class="card-body">
                            <p>
                                @result.Session.Abstract
                            </p>
                        </div>
                    </div>
                    break;
            }
        </div>
    }
</div>


@code {

    public string Term { get; set; } = String.Empty;

    public List<SearchResult> SearchResults { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await SearchSessions();
    }


    private async Task SearchSessions()
    {
        if (!string.IsNullOrWhiteSpace(Term))
        {
            SearchResults = await ApiClient.SearchAsync(Term);
        }
    }
}
